html {
  font-size: 12px;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 3px solid transparent;
}